{{ define "main" }}

<style>
.flex-content{
    display: None;
}
@media only screen and (min-width: 1100px) {
  .title-header{
    text-align: center;
  }

  h2.alt-title{
    margin-top: -0.75em;
    text-align: center;
    margin-bottom: 1.5em;
  }

  .authors{
    margin: -1em 4em 2em 4em;
    text-align: center;
  }

  .page-list{
    gap: 5px 6px;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .page-list a{
    color: ;
    border-bottom: 1px solid #fff;
    transition: border 0.3s ease;
  }

  .page-list a:hover{
    color: #24292F;
    border-bottom: 1px solid #24292F;
  }

  .flex-wrapper{
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  .flex-menu{
    width: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    flex-direction: column;
    gap: 0;
  }

  .flex-menu div.contents::after{
    content: "·";
    margin-left: 6px;
  }

  .flex-menu div.contents:last-of-type::after{
    content: "";
  }

  .menu-header{
    display: none;
  }

  .menu-header-mobile{
    display: block;
    font-weight: 500;
    margin-bottom: 0.5em;
  }
}

</style>

{{ end }}