<footer>
    <div class="footer-left">
        <div class="footer-title">
            {{ $.Site.Title }} <br> 
            <em>{{ $.Site.Params.description }}</em>
        </div>

        <div class="footer-authors">
            {{ range $.Site.Params.authors }}
                    {{ . }}
            {{ end }}
        </div>
    </div>

    <div class="footer-right">
        {{ range $.Site.Params.social }}
            {{ if isset . "icon" }}
                <a href="{{.link}}" ><img class="social-link" alt="{{.title}}" src="{{.icon}}"></a>
            {{else }}
                <a href="{{.link}}" >{{ .title }}</a>
            {{ end }}
        {{ end }}
    </div>

    <!-- <p>Last modified: {{ .Lastmod.Format "January 2, 2006" }}</p> -->
</footer>